body{
    margin: 0;
    font-family: cursive;
    color: rgb(40, 59, 59);
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

h1{
    text-align: center;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.color-container{
    background-color: orange;
    width: 300px;
    height: 150px;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border: solid black 2px;
    border-radius: 10px;


}